*{
   margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#1662DA;
    --secondary-color:#14A15F;
}

.container-fluid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}

.right-container {
    grid-column: 2/7;
}
.right-box {
    min-height:74px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color)

}
.right-logo {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    justify-content: space-evenly;
}

.logo-left {
    min-height: 51px;
    background: linear-gradient(to right, var(--primary-color) 50%, var(--secondary-color) 50%);
    display: flex;
    justify-content: center;
}

#ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 25px;
}

.left-list {
    height: 100vh;
}
.left-box {
    padding-top:12px;
}

#ul >li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#ul img {
    padding-right: 28px;
}

.cat-banner {
    display: flex;
    justify-content: space-between;
}

.banner-card {
    max-width:508px;
    min-height: 199px;
    display: flex;
    flex-basis: 32.6%;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-radius: 23px;
    border: 1px solid var(--secondary-color);
    
}

.cat-des {
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
    padding-top: 22px;
    justify-content: space-between;
}

.line {
    position: relative;
    left:65%;
}

.cat-wrap {
    display: flex;
    flex-basis: 14%;
    position: relative;
    filter: drop-shadow(3px 1px 0px white);

}
.cat-wrap img{
    position: absolute;
    top: 14%;
    left: -6%;
    max-width: 116px;
    min-height: 175px;
}

.cat1 {
    line-height: 0.6;
}

.cat2 {
    display: flex;
    justify-content: space-between;
}

.wrap-count {
    padding-bottom:14px;
}

.cat-p {
    padding-bottom: 8px;
    font-size: 10px;
}

.cat-h {
    font-size: 18.13px;
    color: #ffffff;
    padding-bottom: 4px;

}
.cat-h2 {
    font-size: 12px;
    color: #ffffff;
}

.cat-design {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 55px;
}

.cat-design2 {
    max-width: 55px;
}
.cat-design2 img {
    width:100%;
}

#cat-container > .banner-card:nth-child(2){
    background-color: var(--primary-color);
}

#cat-container > .banner-card:nth-child(2) .cat-wrap img {
    position: absolute;
    top: 8%;
    left: -27%;
    max-width: 121px;
    min-height: 180px;

}



.tab-logo {
    display: flex;
    margin-bottom: 9px;
    gap: 7px;
}

.tab-logo p {
    display: flex;
    align-items:center;
}
.tab-status {
    display: grid;
    gap: 11px;
}

.tab-box {
    padding: 11px 22px;
}

.tab-a {
    max-width: 189px;
    min-height: 105px;
    border: 1px solid black;

}

.booking-tab {
    min-height: 190px;
    max-width: 620px;
    border: 1px solid black;
}

.booking-title {
    padding-top: 18px;
    margin-bottom: 12px;
}

.tab-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}